header {
    color: white;
    margin: auto;
    padding: 1rem;
    height: 100%;
    background-image: linear-gradient(180deg, rgb(24, 24, 24), #222222 40%, #353535);
    font-family: "Audiowide", sans-serif;

}


figure {
    margin-top: 10px;
}

body {
    background-color: #0a0a0a;
    height: 100%;
}

#aboutme {
    margin-top: 5rem;
}

#utblidningar {
    color: white;
}

#speechbubbleTxt {
    font-family: "Audiowide", sans-serif;
    color: black;

}

.speech-bubble {
    position: relative;
    background:  rgb(255, 167, 53);
    border-radius: .6em;
    box-shadow: 0px 0px 10px rgb(246, 174, 29);

}

.speech-bubble:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 64px solid transparent;
    border-left-color: rgb(255, 167, 53);
    border-right: 0;
    border-bottom: 0;
    margin-top: -32px;
    margin-right: -64px;
    box-shadow: 0 4px 2px -2px rgb(255, 141, 64);
}

footer {
    background-image: linear-gradient(180deg, #353535, #222222 40%, rgb(24, 24, 24));
    box-shadow: 0px 0px 10px rgb(51, 51, 51);
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    /* background-color: rgb(0, 198, 195); */
    padding: 30px;
}

.shadowbox {
    
    text-align: left;
    box-shadow: 0px 0px 10px rgb(32, 32, 32);
    background-image: linear-gradient(180deg, rgb(24, 24, 24), #222222 40%, #353535);
    border: 1px solid rgb(64, 64, 64);
    border-radius: 25px;
    padding: 4px;
}
#imgs{
    height: 220px;
    width: 300px;
}